.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.card {
  border: 1.5px solid var(--border_gray);
  border-radius: 5px;
}

.cardinfo {
  width: 100%;
  display: grid;
  gap: 1vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 100px);
  grid-auto-flow: row;
  padding-left: 2vh;
  padding-right: 2vh;
}

.cardinfo span {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cardinfo span label {
  display: block;
  width: 100%;
  text-align: left;
  height: fit-content;
  font-weight: 600;
  font-size: 18px;
  margin-top: 1vh;
}

.cardinfo span select {
  display: block;
  border-radius: 5px;
  width: 60%;
  min-width: fit-content;
  font-size: 18px;
  font-weight: 500;
}

.cardinfobutton {
  margin-top: 1vh;
  height: 40px;
  padding: 1vh;
  width: 100%;
  outline: none;
  background: rgba(221, 32, 32, 0.781);
  border: 0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.cardinfobutton:hover {
  color: #f1f1f1;
}

.cardheader {
  min-height: 50px;
  padding: 1vh;
  color: var(--text);
  background: var(--bg_gray);
}

.cardheader a {
  font-size: larger;
  font-weight: 600;
}

.cardbody {
  width: 100%;
  padding: 1vh;
}

.customtooltip {
  padding-left: 0.5vh;
  color: var(--text);
  border: 0.1px solid var(--border_gray);
  border-radius: 5px;
  padding-left: 1vh;
  padding-right: 1vh;

  background-color: #fdfdfd;
}

.customtooltip p {
  font-weight: 600;
}

.customtooltipheader {
  font-weight: 600;
  padding: 0.3vh 1vh;
  width: fit-content;
  border-bottom: 2px solid var(--border_gray);
}
